header.header
  nav.nav.nav--tours
    a.nav__el(href='/') Todos os serviços
  .header__logo
    img(src='/img/logo-white.png' alt='iService logo')
  nav.nav.nav--user
    //- "user" vem de "req.locals.user", setado no authController;
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='#')
        img.nav__user-img(src=`/img/users/${user.photo ? user.photo : "default.jpg"}` alt=`Fotografia de ${user.name}`)
        span= user.name.split(" ")[0]
    else
      a.nav__el(href="/login") Login
      a.nav__el.nav__el--cta(href="#") Sign up