extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Acesse sua conta aqui!
      form.form
        .form__group
          label.form__label(for='email') E-mail
          input#email.form__input(type='email', placeholder='e-mail@exemplo.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Senha
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='6')
        .form__group
          button.btn.btn--green Login